<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/like_post.js"></script>
</head>

<body class="min-h-screen bg-neutral-100 pb-5">

<!-- Navbar -->
<th:block th:insert="fragments/navbar.html"></th:block>

<!-- Main page content -->
<main class="bg-neutral-100 h-full flex justify-center pt-10 px-5">
    <!-- Wrapper div for responsive sizing -->
    <div class="xl:w-225 lg:w-175 md:w-125 w-full flex flex-col gap-5">

        <!-- User profile -->
        <th:block th:insert="fragments/profile"></th:block>
        <!-- Posts Section -->
        <div th:each="post : ${posts}">
            <th:block th:insert="fragments/post.html :: postFragment(${post}, @{/users/{id}(id=${currentUserId})})"></th:block>
        </div>
        <!-- If no posts -->
        <div th:if="${#lists.isEmpty(posts)}" class="text-center py-12">
            <h2 class="text-neutral-600">This user has no posts</h2>
        </div>


    </div>
</main>
</body>
</html>