<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Post</title>

    <link rel="stylesheet" href="/main.css"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"/>
</head>

<body class="min-h-screen bg-neutral-100">

<!-- Navbar -->
<th:block th:insert="fragments/navbar.html"></th:block>

<!-- Main content -->
<main class="bg-neutral-100 h-full flex justify-center pt-10 px-5">

    <div class="xl:w-225 lg:w-175 md:w-125 w-full flex flex-col gap-5">

        <!-- Post -->
        <th:block th:insert="fragments/post.html :: postFragment(${post}, '/posts')"></th:block>

        <!-- Comment form -->



        <!-- Comments -->
        <div class="bg-white p-5 rounded shadow">
            <h4 class="font-semibold mb-3">Comments</h4>

            <form action="/comments" method="post" class="flex border border-neutral-200 rounded-md">
                <input type="hidden" name="postId" th:value="${post.id}" />
                <textarea name="content" class="resize-none w-full px-3 py-2 rounded-l-md"></textarea>
                <button type="submit" class="px-3 py-2 text-neutral-50 cursor-pointer select-none w-fit bg-blue-400 rounded-r-md hover:bg-blue-600 duration-300">Submit</button>
            </form>

            <!-- Divider line -->
            <div class="w-full m-auto mt-5 border-b border-neutral-200"></div>

            <div th:each="comment : ${comments}">
                <th:block th:insert="fragments/comment.html"></th:block>
            </div>
        </div>

    </div>

</main>

</body>
</html>