<div class="bg-neutral-50 rounded-md px-5 py-5 shadow-md flex flex-col gap-3 overflow-hidden">
  <!-- Post details -->
  <div class="flex justify-between">
    <!-- Author details -->
    <div class="flex items-center gap-3">
      <img th:src="@{'/images/' + ${post.user.profileImageUrl}}" class="w-10 h-10 rounded-full"/>
      <a th:href="@{'/users/' + ${post.user.id}}" th:text="${post.user.username}" class="font-bold text-lg"></a>
    </div>

    <!-- Timestamp -->
    <div class="text-neutral-600 text-lg">2000 Years Ago</div>
  </div>

  <!-- Post content -->
  <div class="text-pretty" th:text="${post.content}"></div>

<!--  Post image -->
  <img th:src="${post.image}">

  <!-- Post interactions -->
  <div>
    <!-- Like button -->
    <label class="appearance-none select-none relative px-3 py-2 border border-neutral-200 rounded-md hover:bg-neutral-200 duration-300 cursor-pointer duration-300">
      <input th:if="${likedPosts.contains(post.id)}" checked type="checkbox" th:onclick="|likePost(${post.id})|" class="sr-only peer">
      <input th:unless="${likedPosts.contains(post.id)}" type="checkbox" th:onclick="|likePost(${post.id})|" class="sr-only peer">
      <i class="z--1 fa-regular fa-heart"></i>
      <span class="absolute px-3 z-0 left-0 opacity-0 peer-checked:opacity-100 duration-200">
        <i class="z-0 fa-solid fa-heart text-red-400"></i>
      </span>
      <span class="relative z-2"> Like (<span th:text="${likeCounts.get(post.id)}"></span>)</span>
    </label>

    <a href="/" class="px-3 py-2 border border-neutral-200 rounded-md hover:bg-neutral-200 duration-300"><i class="fa-regular fa-comment"></i> Comments (<span>3</span>)</a>
    <a href="/" class="px-3 py-2 border border-neutral-200 rounded-md hover:bg-neutral-200 duration-300"><i class="fa fa-trash"></i> Delete</a>
  </div>
</div>