<div class="bg-neutral-50 rounded-md px-15 py-10 shadow-md flex flex-col md:flex-row items-center gap-5 px-5">

  <!-- Profile image -->
  <img th:src="@{'/images/' + ${user.profileImageUrl}}" alt="Profile image" class="w-25 h-25 bg-red-300 rounded-full"/>

  <!-- Details -->
  <div class="flex flex-col gap-3">

    <!-- Display name -->
    <h2 class="text-2xl" th:text="${user.displayName}">Username</h2>

    <!-- Bio -->
    <p class="text-neutral-600" th:if="${user.bio}" th:text="${user.bio}"></p>

    <!-- Followers / Following -->
    <div class="text-neutral-600 text-md flex gap-3">
      <div>
        <span class="text-black font-bold text-lg" th:text="${followersCount}">0</span> Followers
      </div>
      <div>
        <span class="text-black font-bold text-lg" th:text="${followingCount}">0</span> Following
      </div>

    </div>

    <!-- Edit Profile Button (current user only) -->
    <a th:if="${isCurrentUser}"
       th:href="@{/users/{id}/edit(id=${user.id})}"
       class="border border-neutral-200 rounded-md hover:bg-neutral-200 duration-300 w-fit px-3 py-2">
      Edit Profile
    </a>

    <!-- Follow / Unfollow (if not current user) -->
    <div th:if="${!isCurrentUser}">
      <form th:if="${!isFollowing}" th:action="@{/users/{id}/follow(id=${user.id})}" method="post">
        <button class="border border-neutral-200 rounded-md hover:bg-neutral-200 duration-300 w-fit px-3 py-2">
          Follow
        </button>
      </form>

      <form th:if="${isFollowing}" th:action="@{/users/{id}/unfollow(id=${user.id})}" method="post">
        <button class="border border-neutral-200 rounded-md hover:bg-neutral-200 duration-300 w-fit px-3 py-2">
          Unfollow
        </button>
      </form>
    </div>

  </div>
</div>